/Spectral_coeff_15.png
/Spectral_coeff_25.png
/Spectral_coeff_35.png
/Spectral_coeff_75.png
/Spectral_coeff_85.png
/Spectral_coeff_95.png
/test.aux
/test.fdb_latexmk
/test.fls
/test.lof
/test.log
/test.lot
/test.out
/test.synctex.gz
/test.tex
/test.toc